.container {
    border: 1px solid lightgrey;
    width: 80%;
    position: relative;
    margin: 15px auto;
    display: flex;
    padding: 10px;
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}
.container:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.info-container {
    /*border: 1px solid black;*/
    width: 100%;
}